{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a Beer to Stock" {% endblock %}</h1>

    <form method="post">
        <div class="form-group">
            <label for="beer">Beer</label>
            <select id="beer-select" class="form-select" name="beer">
                {% for library_beer in library %}
                    <option value="{{ library_beer.id }}">{{ library_beer.naam }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="selected-beer-info">

        </div>

        {% for library_beer in library %}
            <div hidden id="beer-id-{{ library_beer.id }}">
                <dl class="row">
                    <dd class="col-sm-3">brewery:</dd>
                    <dt class="col-sm-9">{{ library_beer.brouwerij }}</dt>
                </dl>
            </div>
        {% endfor %}

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number"
                   name="quantity"
                   class="form-control">
            </input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <hr>
    <script src="{{url_for('static', filename='js/beer-selectors.js')}}"></script>
{% endblock %}
