{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Beer Library {% endblock %}</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Brouwerij</th>
        <th scope="col">Naam</th>
        <th scope="col">Soort</th>
        <th scope="col">Botteljaar aanwezig</th>
        <th scope="col">Aantal jaren rijpen</th>
        <th scope="col">Aantal jaren tot THT</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for bier in bieren %}
    <tr>
        <th scope="row">{{ bier['brouwerij'] }}</th>
        <td>{{ bier['naam'] }}</td>
        <td>{{ bier['soort'] }}</td>
        <td>{{ bier['plekOpflesBotteljaar']|dash_if_none }}</td>
        <td>{{ bier['aantalJarenRijpen']|dash_if_none }}</td>
        <td>{{ bier['aantalJarenTotTHT']|dash_if_none }}</td>
        <td>
            <a type="button" href="{{ url_for('edit_library_beer', id=bier['ID']) }}">
                <span class="badge bg-warning">Edit</span>
            </a>
            <a type="button" href="{{ url_for('delete_library_beer', id=bier['ID']) }}">
                <span class="badge bg-danger">Delete</span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
