{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit "{{ library|get_name_of(beer['bier']) }}" {% endblock %}</h1>

    <form method="post">
        <div class="row">
            <div class="col" id="selected-beer-info"></div>

            <div class="col">
                <label for="beer">Beer</label>
                <select id="beer-select" class="form-select" name="beer">
                    {% for library_beer in library %}
                        <option {{ 'selected' if library_beer.id == beer['bier'] }} value="{{ library_beer.id }}">{{ library_beer.naam }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <label for="quantity">Quantity</label>
                <input type="number"
                       name="quantity"
                       class="form-control"
                       value="{{ beer['aantal'] }}">
            </div>

        </div>


        <div class="row">
            <div class="col">
                <label for="purchasedate">Purchase Date</label>
                <input type="date"
                    name="purchasedate"
                    class="form-control"
                    value="{{ beer['aankoopDatum'] }}"
                    min="1983-01-01">
            </div>
            
            <div class="col">
                <label for="bottledate">Bottle Date</label>
                <input type="date"
                       name="bottledate"
                       class="form-control"
                       value="{{ beer['bottelDatum'] }}"
                       min="1983-01-01">
            </div>

            <div class="col">
                <label for="bestbeforedate">Best Before</label>
                <input type="date"
                       name="bestbeforedate"
                       class="form-control"
                       value="{{ beer['tenMinsteHoudbaarTot'] }}"
                       min="1983-01-01">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="purchaseprice">Purchase Price</label>
                <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input type="number"
                       name="purchaseprice"
                       min="0.00"
                       step="0.01"
                       class="form-control"
                       value="{{ beer['prijsInkoop']|value_or_empty }}">
                </div>
            </div>

            <div class="col">
                <label for="bottlenumber">Bottle number, batch number</label>
                <input type="text"
                       name="bottlenumber"
                       class="form-control"
                       value="{{ beer['flesnummer'] }}">
            </div>

            <div class="col">
                <label for="purpose">Purpose</label>
                <input type="text"
                       name="purpose"
                       class="form-control"
                       value="{{ beer['doel'] }}">
            </div>
        </div>

        <div class="col">
            <label for="comments">Comments</label>
            <input type="text"
                   name="comments"
                   class="form-control"
                   value="{{ beer['opmerking'] }}">
        </div>
        <br>


        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    {% for library_beer in library %}
        <div hidden id="beer-id-{{ library_beer.id }}">
            <dl>
                <dd class="col-sm-3">brewery:</dd>
                <dt class="col-sm-9">{{ library_beer.brouwerij }}</dt>
            </dl>
        </div>
    {% endfor %}

    <script src="{{url_for('static', filename='js/beer-selectors.js')}}"></script>
{% endblock %}
