{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit "{{ library|get_name_of(beer['bier']) }}" {% endblock %}</h1>

    <form method="post">
        <div class="form-group">
            <label for="beer">Beer</label>
            <select class="form-select" name="beer">
                {% for library_beer in library %}
                    <option {{ 'selected' if library_beer.id == beer['bier'] }} value="{{ library_beer.id }}">{{ library_beer.naam }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number"
                   name="quantity"
                   class="form-control"
                   value="{{ beer['aantal'] }}">
            </input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <hr>
{% endblock %}
