{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Beers in Collection {% endblock %}</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Bier</th>
        <th scope="col">Botteldatum</th>
        <th scope="col">Aankoopdatum</th>
        <th scope="col">THT</th>
        <th scope="col">Aantal</th>
        <th scope="col">Prijs inkoop</th>
    </tr>
    </thead>
    <tbody>
        {% for bier in voorraad %}
        <tr>
            <th scope="row">{{ bier['Bier'] }}</th>
            <td>{{ bier['Botteldatum']|dash_if_none }}</td>
            <td>{{ bier['Aankoopdatum']|dash_if_none }}</td>
            <td>{{ bier['THT']|dash_if_none }}</td>
            <td>{{ bier['Aantal'] }}</td>
            <td>{{ bier['Prijs']|cents_to_euros }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
